---
author: Nathan Carter (ncarter@bentley.edu)
---

In pandas, the `pd.DataFrame` function can construct new DataFrames.  Just provide it with a dictionary whose keys are the column headers and whose values are the column contents.

Here's an example:

In [1]:
import pandas as pd
df = pd.DataFrame( {
    'Last name' :  [ 'Potter', 'Weasley', 'Granger', 'Malfoy' ],
    'First name' : [ 'Harry', 'Ron', 'Hermione', 'Draco' ],
    'House' :      [ 'Gryffindor', 'Gryffindor', 'Gryffindor', 'Slytherin' ]
} )
df

  Last name First name       House
0    Potter      Harry  Gryffindor
1   Weasley        Ron  Gryffindor
2   Granger   Hermione  Gryffindor
3    Malfoy      Draco   Slytherin